/*---- Home Section Styling ----*/
.home-section { background: #C0E7FE; }

.home-content {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  padding: 0px 20px;
  padding-bottom: 20px;
  position: absolute;
  width: 500px;
  height: auto;
  background-color: white;
  z-index: 2; /* Ensure the box is above the pills */
  border-radius: 30px;

  display: flex;             /* Added */
  flex-direction: column;   /* Added */
  align-items: center;    /* Added to align items to the right */
  z-index: 2;
}


input[type="number"] {
  font-size: 30px;
  background-color: #C0E7FE;  /* Makes input blend with the background */
  border: none;               /* Removes the default border */
  color: #293462;               /* Text color */
  outline: none;              /* Optional: Removes the focus outline */
  padding-left: 10px;         /* Padding to ensure text isn't too close to the logo or edge */
  padding-right: 10px;
  box-sizing: border-box;   /* Makes sure the width includes padding and border */
  text-align: right;        /* Text (numbers) align to the right */
  width: 100%;   
  border-radius: 20px;     
}

/* This is to remove the spinners (up-down arrows) from number input for modern browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.footer-wrapper {
  width: 325px;
  display: flex;        /* Using Flexbox to layout its children (disclaimer and button) */
  justify-content: space-between;  /* Pushes children to the two ends: left and right */
  align-items: center; /* Vertically aligns items in case of different heights */
  margin-top: 10px;    /* Space from the input-wrapper */
}

.disclaimer-text {
  color: #F24C4C;
  margin: 0;           /* Removes any default margins */
  font-size: 12px;
  width: 150px;
}






.input-wrapper {
  display: flex;
  width: 400px;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  height: 80px;
  background-color: #C0E7FE;
  border-radius: 50px;
}

.logo {
  height: 100%;   /* Adjusts the logo's height to be 70% of the input-wrapper's height */
  width: auto;   /* Keeps the aspect ratio intact */
  margin-right: 10px;
  margin-left: 10px;
}

.box-button {
  display: block;
  padding: 8px 13px;
  width: 125px;
  background-color: #ccc; 
  color: #293462;
  border: 2px solid #293462;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 20px;
}

.box-button:hover {
  background-color: #0056b3;
  color: white;
}

.max-wrapper {
  font-size: 14px;
  width: 325px;
  display: flex;           
  justify-content: space-between;  /* Aligns children to the right */
  align-items: center;        /* Vertically centers the number and the button */
  margin-bottom: 0px;        /* Space between this wrapper and the input-wrapper */
}

.balance-text {
  background-color: white; /* or whatever your background is */
  color: #293462;              /* White color for the number */
  padding: 5px 10px;         /* Adjust as needed */
}

.max-button {
  font-size: 10px;
  background-color: #ddd; 
  color: #293462;
  border: none;
  padding: 3px 10px;           /* Adjust for the desired size */
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 20px;
  border: 1px solid #293462;
}

.max-button:hover {
  background-color: #0056b3;
  color: white;
}












/* Your existing claim-button styling */
.swap-button {
  margin-top: 20px;
  width: 250px;
  font-size: 20px;
  display: inline-block; /* Modified to inline-block */
  padding: 11px 30px;
  background-color: #ddd; 
  color: #293462;
  border: 2px solid #293462;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 30px;
}

.swap-button:hover {
  background-color: #0056b3;
  color: white;
}

.swap-label {
  padding-top: 15px;
  font-size: 20px;
  color: #293462;
  width: 90%;  /* assuming you want it to take the full width of its parent */
  position: relative;  /* in case you want to position children absolutely */
}



.switch-icon {
  opacity: .2;
  transform: rotate(225deg);
  position: absolute;
  right: 0;
  width: 30px;  /* Set the desired width */
  height: auto;  /* Set the desired height */
  transition: all 0.3s ease;
}
.switch-icon:hover{
  opacity: 1;
}

.swap-info{
  margin-top: 25px;
  padding: 10px;
  background-color: #C0E7FE;
  width: 80%;
  border-radius: 30px;
  color: #293462;
  display: flex;
  flex-direction: column;
}







  