/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global Styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

/* Main sidebar styles */
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #fff;
  z-index: 100;
  transition: all 0.5s ease;
}

/* Styles for closed sidebar */
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details {
  height: 110px; /* or whatever is suitable for your design */
}


/* Logo details in sidebar (larger view) */
.sidebar .logo-details .logo-img {
  width: 100px; /* Adjust this as needed */
  /* height can be auto-adjusted to keep aspect ratio, or you can set a specific value */
  display: block;
  margin: 10px auto; /* Centering the logo inside its container */
  transition: all 0.3s ease;
}

/* Logo details when sidebar is closed (smaller view) */
.sidebar.close .logo-details .logo-img {
  width: 40px; /* Adjust this for the closed sidebar */
  /* height will auto-adjust to keep aspect ratio */
  display: block;

}

/* Nav links styling */
.sidebar .nav-links{
  height: 100%;
  padding: 0 0 150px 0;
  overflow: auto;
}

.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #eee;
}

/* Icons in nav links */
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #293462;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Anchor styling inside nav links */
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  color: #293462;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}

/* Profile section at the bottom of sidebar */
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 12px 0;
  transition: all 0.5s ease;
}

/* Profile styling when sidebar is closed */
.sidebar.close .profile-details{
  width: 78px;
  background: none;
}

/* Profile content within the profile section */
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 15px;
  margin: 0 14px 0 12px;
  background: #293462;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #293462;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

/* Profile details when sidebar is closed */
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  width: 78px;
  display: none;
}

/* Job title or designation within profile section */
.sidebar .profile-details .job{
  font-size: 12px;
}




/* --- HOME SECTION STYLING --- */

.home-section{
  position: relative; 
  height: auto;                   /* Let it adjust based on content */
  min-height: 100vh;     
  left: 260px;                  /* Start to the right to make room for sidebar */
  width: calc(100% - 260px);    /* Deduct sidebar width from total width */
  transition: left 0.5s ease, width 0.5s ease;  /* Specify which properties should have the transition */
}


/* Adjusts home section when sidebar is closed */
.sidebar.close ~ .home-section{
  left: 78px;                   /* Adjust for smaller sidebar width when closed */
  width: calc(100% - 78px);     /* Adjust total width based on smaller sidebar */
}

/* Styling for content within home section */
.home-section .home-content{
  height: 60px;
  display: flex;                /* Use flex for layout alignment */
  align-items: center;          /* Center items vertically in flex container */
}

/* Styling for menu icon within home content */
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;              /* Indicate clickable element */
  color: #293462;
  font-size: 35px;
}

/* Styling for text within home content */
.home-section .home-content .text{
  color: #293462;
  font-size: 26px;
  font-weight: 600;             /* Make the text bold */
}

/* --- MEDIA QUERY FOR RESPONSIVE ADJUSTMENTS --- */


.menu-toggle {
  display: none;  /* Default to not display */
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 101;   /* Above everything else */
  cursor: pointer;
  font-size: 24px;
  background-color: white;  /* Or any desired color */
  padding: 10px;
  border-radius: 5px;
}


@media (max-width: 800px) {
  .menu-toggle {
      display: block;
  }

  .sidebar.close {
      width: 0; /* Set this to 0 */
      overflow: hidden;
  }

  .sidebar:not(.close) {
      width: 100%;
      overflow: auto;
  }
  .home-section {
    left: 0;  /* Start at the very left */
    width: 100%;  /* Occupy full viewport width */
  }
  /* Override the interfering rule for small screens */
  .sidebar.close ~ .home-section {
    left: 0;
    width: 100%;
  }
  .sidebar .profile-details {
    width: 100%;
    overflow: auto;
}
}
.remove{
  display: none !important;
}
b {
  font-weight: bold !important;
}
red {
  color: #F24C4C !important;
}

#loading {
  background: url('/images/loading.gif') no-repeat center center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-size: 500px;
  background-color: rgba(255, 255, 255, 0.5);
}