/* Add your CSS styles here */
.chart-box {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center;
    margin-bottom: 20px;
    padding-top: 50px; /* Add margin to move away from the top */
}

.canvas-container {
    display: flex;
    justify-content: center; /* Center content horizontally */
}

.canvas-container canvas {
    width: 600px; /* Adjust the width as needed */
}

/*---- Claim Button Styling ----*/
.claim-button {
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border: 5px solid #4056a1;
    font-size: 25px;
    border-radius: 30px;
    color: #293462;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.claim-button:hover {
    background-color:#eee;
    transition: all 0.3s ease;
}

.total-indicator {
    border: 1px solid red; /* Example style for indicating a non-100 total */
}




