/*---- Home Section Styling ----*/
.home-section { background: #F1F0EA; }

/*---- Test Box Styling ----*/
.test-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*---- Status Icon Styling ----*/
.status-icon {
    font-size: 200px;
    padding: 20px;
    color: #4056a1;
}

/*---- Claim Button Styling ----*/
.claim-button {
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border: 5px solid #4056a1;
    font-size: 25px;
    border-radius: 30px;
    color: #293462;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.claim-button:hover {
    background-color:#eee;
    transition: all 0.3s ease;
}

/*---- Other Styles ----*/
.remove { display: none !important; }

#disclaimer-box {
    text-align: center;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.disclaimer-text { font-size: 25px; color: #F13c20; }
.success-text { font-size: 25px; font-weight: bold; color: #4056a1; }
.bx-error-alt { font-size: 50px; padding: 20px; color: #F13c20; }


